     <div id="append-area" class="form-signin">
        <% for(var i = 0; i < folder.length; i++){ %>
        <div class="card">
          <div class="card-header" id="<%="heading"+i%>">
            <h2 class="mb-0">
              <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="<%="#collapse"+i%>" aria-expanded="true" aria-controls="<%="collapse"+i%>"> -->
              <button onclick="checkAllFunc(this)" class="btn btn-primary" type="button" value="checked" id="<%="upper_"+i%>">  
                <%=folder[i].name%> &nbsp; <span class="badge badge-light"><%=folder[i].item.length%></span>
              </button>
            </h2>
          </div>
      
          <div id="<%="collapse"+i%>" class="collapse show" aria-labelledby="<%="heading"+i%>">
            <div class="card-body">
                <% for(var j =0 ; j < folder[i].item.length; j++){ %>
                  <% var folderName = folder[i].name; %>
                  <% var itemName = folder[i].item[j].name; %>
                  <% var method = folder[i].item[j].request.method; %>

                  <% var requestURL = folder[i].item[j].request.url.raw%>
                  <% var realURL = requestURL === undefined ? folder[i].item[j].request.url : requestURL%>
                 <div class="form-check">
                    <input class="form-check-input" name="check<%="upper_"+i%>" type="checkbox" value="<%=folderName+"|"+itemName+"|"+method+"|"+realURL%>" id="<%="request_"+i+"_"+j%>" checked>
                    <label class="form-check-label" for="<%="request_"+i+"_"+j%>">
                        <span class="badge badge-success"><%=folder[i].item[j].request.method%></span>
                        <span class="badge badge-info"><%=folder[i].item[j].name%></span>&nbsp;
                        <span class="font-italic">
                            <%var lastIdx = realURL.indexOf('?')%>
                            <% if (lastIdx === -1) {%>
                                <%=realURL.substr(realURL.indexOf('}}/')+2)%>
                            <% }else{%>
                                <%=realURL.substring(realURL.indexOf('}}/')+2, lastIdx)%>
                            <%}%>    
                        </span>
                    </label>
                 </div>
                 <%}%>              
            </div>
          </div>
        </div>
        <% } %>
        <span id='folder'' hidden>
            <%= JSON.stringify(folder); %>
        </span>
     </div>    
