<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/signin.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
    <title>Gentleman</title>
</head>

<body>
     <div class="form-signin">
        <div align="right">
            <button type="button" id="genColTop" class="btn btn-primary btn-sm pull-right">Postman Collection 생성</button>
        </div>
        <p></p>
        <% for(var i = 0; i < folder.length; i++){ %>
        <div class="card">
          <div class="card-header" id="<%="heading"+i%>">
            <h2 class="mb-0">
              <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="<%="#collapse"+i%>" aria-expanded="true" aria-controls="<%="collapse"+i%>"> -->
              <button onclick="checkAllFunc(this)" class="btn btn-primary" type="button" value="checked" id="<%="upper_"+i%>">  
                <%=folder[i].name%> &nbsp; <span class="badge badge-light"><%=folder[i].item.length%></span>
              </button>
            </h2>
          </div>
      
          <div id="<%="collapse"+i%>" class="collapse show" aria-labelledby="<%="heading"+i%>">
            <div class="card-body">
                <% for(var j =0 ; j < folder[i].item.length; j++){ %>
                <div class="form-check">
                    <input class="form-check-input" name="check<%="upper_"+i%>" type="checkbox" value="<%=folder[i].item[j]._postman_id%>" id="<%="request_"+i+"_"+j%>" checked>
                    <label class="form-check-label" for="<%="request_"+i+"_"+j%>">
                        <span class="badge badge-success"><%=folder[i].item[j].request.method%></span>
                        <span class="badge badge-info"><%=folder[i].item[j].name%></span>&nbsp;
                        <span class="font-italic">
                            <%var requestURL = folder[i].item[j].request.url.raw%>
                            <%var realURL = requestURL === undefined ? folder[i].item[j].request.url : requestURL%>
                            <%var lastIdx = realURL.indexOf('?')%>
                            <% if (lastIdx === -1) {%>
                                <%=realURL.substr(realURL.indexOf('}}/')+2)%>
                            <% }else{%>
                                <%=realURL.substring(realURL.indexOf('}}/')+2, lastIdx)%>
                            <%}%>    
                        </span>
                    </label>
                 </div>
                 <%}%>              
            </div>
          </div>
        </div>
        <% } %>
        <p></p>
        <div align="right">
            <button type="button" id="genColBottom" class="btn btn-primary btn-sm pull-right">Postman Collection 생성</button>
        </div>
      </div>    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="mdmsg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <span id='folder'' hidden>
        <%= JSON.stringify(folder); %>
    </span>
    <span id='collection' hidden>
        <%= JSON.stringify(collection); %>
    </span>
    <span id='env' hidden>
        <%= JSON.stringify(env); %>
    </span>
<script>
    var folderJson = JSON.parse($('#folder').text())
    var collectionJson = JSON.parse($('#collection').text());
    var envJson = JSON.parse($('#env').text());

    // $('#folder').remove();
    // $('#collection').remove();
    // $('#env').remove();

    var selectedApiArr = [];
    $('#genColTop, #genColBottom').click(function () {
        //1. 체크된 녀석의 _postman_id의 배열 생성
        $(".form-check-input").each(function() {
            // console.log(this.id + ':' + this.checked);
            if(this.checked){
                selectedApiArr.push(this.value);
            }
        })
        //2. Folder 객체내부의 요소(element)가 가지고 있는 item배열의 요소중 _postman_id와
        //selectedApi의 요소와 동일하지 않으면 배열에서 제외
        for(var i = 0; i < folderJson.length; i++){
            var selecedItems = folderJson[i].item.filter(el=>{
                return selectedApiArr.includes(el._postman_id);
            });
            folderJson[i].item = selecedItems;
        }

        //3. Folder 객체내부의 요소(element)가 가지고 있는 item배열의 length가 0 이면 배열에서 제외

        var selectedFolders = folderJson.filter(el=>{
            return el.item.length > 0 ? true : false ;
        })

        collectionJson.item = selectedFolders;

        var blob = new Blob([JSON.stringify(collectionJson)]);
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = collectionJson.info.name + ".json"; //2.0으로 convert한 것 기준으로 변경
        link.click();
        var blob2 = new Blob([JSON.stringify(envJson)]);
        var link2 = document.createElement('a');
        link2.href = window.URL.createObjectURL(blob2);
        link2.download = envJson.name + ".json";
        link2.click();

        $('#exampleModalCenter').on('show.bs.modal', function () {
            $('#exampleModalCenterTitle').text('작업 완료');
            $('#mdmsg').html('Collection이 생성되어 다운로드 되었습니다.');
        })
        $('#exampleModalCenter').modal('toggle');

        //4. 실수로 생성하더라도 해당 페이지에서 다시 생성할 수 있게끔 한다.
        location.reload();
    })

    function checkAllFunc(obj) {
      var checkStatus = obj.value === 'checked' ? '' : 'checked';
      var childName = 'check'+obj.id;

      $("[name="+childName).each(function() {
        this.checked = checkStatus;
      })

      obj.value = checkStatus;
    }
</script>
</body>

</html>